# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entorns virtuals
env/
venv/
ENV/
.venv/

# Distribucions
build/
dist/
*.egg-info/
.eggs/

# Configuracions de l'IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Fitxers temporals
*.log
*.tmp
*.bak
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db
